@media (max-width: 1000px) {
  /* Adjust this size to your preference */
  .animated-header h1 {
    /* Hide the element on small screens */
    /* display: none !important; */
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  /* Adjust this size to your preference */
  .animated-header h1 {
    /* Hide the element on small screens */
    /* display: none !important; */
    font-size: 2rem;
  }
}

.animated-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centers vertically */
  align-items: center;
  /*  Full viewport height */
  height: 100vh;
  position: relative;
}
